app/node_modules/
css/app.min.css
js/*
include/constants.php
tmp/
.webpack.sh
npm-debug.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
.eslintrc.js

mgmt/testfile*

